*{
 font-family:"Open Sans", sans-serif;
 box-sizing: border-box;
 margin: 0px;
}

body{
    background-color: #fffbf7!important;
}
h1{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 60px !important;
    margin-bottom: 0px;
    font-weight: 900 !important;
    
}

button{
    background-color: #025157;
    color: #ffffff;
}

main. h4{
    color: #46484c;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20px !important;
    margin-top: 10px;

}
section > p{
    color: #8b8b8bcc;
}

.header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #fffbf7;
    align-items: center;
    z-index: 2;
}

.header > *{
    font-size: 16px;
    vertical-align: middle;
    height: 100%;

}


.main{
    margin-top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul{
    padding: 0px;
}
li{
    display: inline;
}

.logo{
    margin-left: 20px;
    padding-top: 3px;

}
.navbar-complete{
    width: 70%;
    text-align: center;
    font-weight: 400;
    margin: auto;
    
}

.menu-item{
    display: inline;
    margin-left: 14px;
    margin-right: 14px;
}

.menu-item > *{
    text-decoration: none;
    color: #025157;
}
.actions{
    height: 55px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.actions > *{
    margin: 0px 10px 0px 10px;
}

.actions a{
    color: #67b54b;
    text-decoration: none;
}

.actions button{
    background-color:#67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    height: 100%;
}

.actions button:hover{
    background-color: rgba(103, 181, 75, 0.8) ;
}


.signup-form {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: center;
}

.signup-form input{
    background-color: white;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color:#b6b6b6 ;
    width: 60%;
    max-width: 250px;
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;

}

.signup-form button{
    padding:6px 20px ;
    font-size: 16px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}

.intro > img{
    width: 70%;
    vertical-align: middle;
    border-style: none;
}
.publish{
    flex: 1;
}
.publish h3{
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0px 0px 10px 0px;
    font-weight: 900;
}

.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.publish > form p {
    color:#8b8b8bcc;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex: 1;
}


.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}


/*promo*/

.promo{
    display: flex;
    max-width: 80%;
    margin: 100px auto;
    align-items: center;
}


.publish > *{
    width: 100%;
    max-width: 650px;
}



.publish .signup-form{
    justify-content: end;
}

/*features*/
.features{
    display: grid;
    background-color: #025157;
    grid-template: repeat(2, 350px) / repeat(2, 1fr);
    padding: 5% 10%;
   
}

.features .features-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    align-items: center;
    overflow:hidden ;
}
.features-content{
    flex: 2;
    height: 100%;
    padding: 30px 20px 40px 40px;
}

.features-content figure{
    margin: 0px;
   
}

.features-content figure img{
    width: 15%;
}

.features .features-card .features-content > *{
    margin: 1rem;
    margin-top: 0;
}

.features-content h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #343434;
}

.features-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features-content a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features-img{
    flex: 1;
    width:40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features-img figure{
    margin-top: 0;
    height: 100%;
}

.features-img figure img{
    margin-top: 0;
    height: 100%;
}

/*componente- succes-stories*/
.succes-stories{
    background-color:#a1d683 ;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.succes-stories .overviews{
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-right: 100px;
}

.succes-stories .overviews h2{
    font-family: 'Alegreya', serif;
    font-weight:900;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.succes-stories .overviews p{
    color:#343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.succes-stories .overviews button{
    font-size: 14px;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    border:0px;
    margin-bottom: 32px;

}

.succes-stories .overviews img{
    width: 500px;
    max-width: 100%;
}

.stories-carrousel{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  
}

.success-stories .stories-carousel .card{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.success-stories .stories-carousel .card-media{
    position: relative;    
}


.card-img-top{
    max-height: 16vw;
}

.company{
    position: absolute;
    top:254px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company .company-image{
    width: 90%;
    max-width: 16vh;
}

.card-body .card-title {
    color:#025157 ;
    font-size: 17px !important;
    font-family: 'Slabo 13px', serif;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.card-body .result{
    display: flex;
    align-items: center;
    color: #828282;
}

.card-body .result img{
    width: 26px;
    margin-right: 20px;
}
.card-foot{
    margin: 20px;
    padding-bottom: 30px;
}

.card-foot button{
    display: block;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    border: 0px;
}


/*botones*/
.button{
    display: none !important;
}


/*how-does-it-work*/
.how-does-it-work{
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}

.how-does-it-work .title{
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Alegreya', serif;
    margin-bottom: 8px;
}

.how-does-it-work .description{
    max-width: 60%;
    color:#46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px auto 16px;

}

.how-does-it-work .description a{
    color: #67b54b;
    text-decoration: none;
}

.how-does-it-work button{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 20px;
    height: 45px;
    margin-top: 6px;
    border-radius: 8px;
    border: none;
}

.how-does-it-work .step{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
}

.how-does-it-work .step .card-step{
    background-color: #fff;
    border: 1px solid #dadada;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
}

.how-does-it-work .step .card-step-image{
    position: relative;
    height: 350px;
}

.how-does-it-work .step .card-step .card-step-bg{
    width: 100%;
    height: 100%;
}

.how-does-it-work .step .card-step .card-step-icon{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}

.how-does-it-work .step .card-step-body{
    padding: 25px;

}

.how-does-it-work .step .card-step-body h3{
    font-size: 30px;
    line-height: 36px;
    font-family: 'Alegreya', 'serif';
    color: #025157;
    font-weight: 900;
    text-align: center;
}

.how-does-it-work .step .card-step-body p{
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
    text-align: left;
}

.how-does-it-work .step .card-step-body a{
    display: block;
    font-size: 15px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
}


/*blog*/

.container-blog{
    background-color: #fff;
    padding: 5% 10%;
}

.container-blog .title{
    color: #025157;
    font-family: 'Alegreya', 'Serif';
    font-weight: 900;
}

.container-blog .process-list{
    margin-top: 40px;
    margin-bottom: 36px;
}

.container-blog .process-list .process{
    margin-bottom: 25px;
}

.container-blog .process-list .process-icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
}

.container-blog .process-list .process-icon img{
    height: 100%;
}

.container-blog .process > div > h3{
    color: #025157;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 500;
}

.container-blog .process > div > p{
    color: #025157;
}

.container-blog button{
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
    border: none;
}

.container-blog .metadata{
    font-weight: 500;
    font-size: 14px;
    color: #979797;
}

.container-blog .metadata .category{
    color: #67b54b;
}

.container-blog .card-text{
    color:#4a4a4a ;
    font-size: 18px;
    min-height: 6rem;
}

.container-blog .card-body img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.container-blog .card-body .author p{
    margin: auto 10px;
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
}

/*image*/
.home-people{
    background-image:url("https://getmatcha.com/wp-content/themes/getmatcha/css/../img/home_people.png");
    background-position: center;
    background-size: cover;
    background-color: #fff;
    height: 350px;
}

/*try-it*/
.try-it {
    padding: 5% 5% 2% 5%;
    background-color:#96d178;
    margin-top: -30px;
}

.try-it h2{
    color: #025157;
    font-size: 60px;
    font-family: 'Alegreya', 'serif';
    font-weight: 900;
}

.try-it p{
    color: #fff;
    font-size:14px;
    margin-top: 10px;
}

/*account*/

.conteiner-cta{
    padding: 5% 10% 0px 10% ;
    margin: auto;
}

.box{
    background-color: #025157;
    color: #fff;
    padding: 5%;
    border-radius: 10px;
}

.conteiner-cta .box h2{
    font-family: 'Alegreya','serif';
    font-size: 34px;
    max-width: 340px;
    line-height: 1.3;
    font-weight: 900;
}

.conteiner-cta .box p{
    margin-top: 15px;
    line-height: 25px;
    font-weight: 400;
    font-size: 17px;
}

.conteiner-cta .box p > a{
    color: #67b54b;
}


.conteiner-cta .box form{
    justify-content: start;
}

.conteiner-cta .box form button{
    background-color: #67b54b;
}

.conteiner-cta .box form + p{
    color: #b3cbcd;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    max-width: 340px;
}

/*footer*/

.footer{
    padding:5% 10% 2% 10% ;
}

.footer h2{
    color: #025157;
    font-family: "Alegreya", serif;
    font-weight: 600;
}

.footer h2 + p{
    font-size: 16px;
    color: #4a4a4a;
}

footer .signup-form{
    justify-content: start;
}


.footer h4{
    text-transform: uppercase;
    color: #025157;
    font-weight: 700;
    font-size: 13px;
    font-family: sans-serif;
}

.footer ul li{
    margin-bottom: 20px;
    font-size: 18px;
}


.footer ul li a{
    list-style: none;
    text-decoration: none;
    color: #4a4a4a;
}

.footer .media{
    display: flex;
    
}

.footer .social{
    margin-left: 28px;
}

.footer .social a{
    margin-right: 20px;
    text-decoration: none;
}

.footer .right{
    text-align: right;
    color:#4a4a4a ;
}
