*{
 font-family:"Open Sans", sans-serif;
 background-color: #fffbf7;
 box-sizing: border-box;
}

h1{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    margin-bottom: 0px;
}

button{
    background-color: #025157;
    color: #ffffff;
}

h4{
    color: #46484c;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;

}
section > p{
    color: #8b8b8bcc;
}

.header{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    font-size: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;

}


.main{
    margin-top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul{
    padding: 0px;
}
li{
    display: inline;
}

.logo{
    width: 15%;
}
.navbar{
    width: 60%;
    text-align: center;
    font-weight: 400;
    margin: auto;
    
}

.menu-item{
    display: inline;
    margin-left: 14px;
    margin-right: 14px;
}

.menu-item > *{
    text-decoration: none;
    color: #025157;
}
.actions{
    width: 25%;
    height: 55px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    
}

.actions > *{
    margin: 0px 10px 0px 10px;
}

.actions a{
    color: #67b54b;
    text-decoration: none;
}

.actions button{
    background-color:#67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    height: 100%;
}

.actions button:hover{
    background-color: rgba(103, 181, 75, 0.8) ;
}


.signup-form {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: center;
}

.signup-form input{
    background-color: white;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color:#b6b6b6 ;
    width: 60%;
    max-width: 250px;
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;

}

.signup-form button{
    padding:6px 20px ;
    font-size: 16px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}

.intro > img{
    width: 70%;
    vertical-align: middle;
    border-style: none;
}

.publish h3{
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0px 0px 10px 0px;
}

.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.publish > form{
    display: flex;
}

.publish > form p {
    color:#8b8b8bcc;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.promo{
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}

.promo > *{
    width: 100%;
}

.publish > *{
    display: flex;
    flex-direction: column;
}

.publish .signup-form{
    justify-content: end;
}

