*{
 font-family:"Open Sans", sans-serif;
 box-sizing: border-box;
 margin: 0px;
}

body{
    background-color: #fffbf7!important;
}
h1{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 900 !important;
    
}

button{
    background-color: #025157;
    color: #ffffff;
}

h4{
    color: #46484c;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;

}
section > p{
    color: #8b8b8bcc;
}

.header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #fffbf7;
    align-items: center;
    z-index: 2;
}

.header > *{
    font-size: 16px;
    vertical-align: middle;
    height: 100%;

}


.main{
    margin-top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul{
    padding: 0px;
}
li{
    display: inline;
}

.logo{
    margin-left: 20px;
    padding-top: 3px;

}
.navbar{
    width: 70%;
    text-align: center;
    font-weight: 400;
    margin: auto;
    
}

.menu-item{
    display: inline;
    margin-left: 14px;
    margin-right: 14px;
}

.menu-item > *{
    text-decoration: none;
    color: #025157;
}
.actions{
    height: 55px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    
}

.actions > *{
    margin: 0px 10px 0px 10px;
}

.actions a{
    color: #67b54b;
    text-decoration: none;
}

.actions button{
    background-color:#67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    height: 100%;
}

.actions button:hover{
    background-color: rgba(103, 181, 75, 0.8) ;
}


.signup-form {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: center;
}

.signup-form input{
    background-color: white;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color:#b6b6b6 ;
    width: 60%;
    max-width: 250px;
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;

}

.signup-form button{
    padding:6px 20px ;
    font-size: 16px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}

.intro > img{
    width: 70%;
    vertical-align: middle;
    border-style: none;
}
.publish{
    flex: 1;
}
.publish h3{
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0px 0px 10px 0px;
}

.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.publish > form p {
    color:#8b8b8bcc;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex: 1;
}


.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.promo{
    display: flex;
    max-width: 80%;
    margin: 100px auto;
    align-items: center;
}


.publish > *{
    display: block;
}

.publish .signup-form{
    justify-content: end;
}

.features{
    display: grid;
    background-color: #025157;
    grid-template: repeat(2, 350px) / repeat(2, 1fr);
    padding: 5% 10%;
   
}

.features .features-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    align-items: center;
    overflow:hidden ;
}
.features-content{
    flex: 2;
    height: 100%;
    padding: 30px 20px 40px 40px;
}

.features-content figure{
    margin: 0px;
   
}

.features-content figure img{
    width: 15%;
}

.features .features-card .features-content > *{
    margin: 1rem;
    margin-top: 0;
}

.features-content h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #343434;
}

.features-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features-content a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features-img{
    flex: 1;
    width:40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features-img figure{
    margin-top: 0;
    height: 100%;
}

.features-img figure img{
    margin-top: 0;
    height: 100%;
}

/*componente-stories*/
.succes-stories{
    background-color:#a1d683 ;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.succes-stories .overviews{
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-right: 100px;
}

.succes-stories .overviews h2{
    font-family: 'Alegreya', serif;
    font-weight:900;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.succes-stories .overviews p{
    color:#343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.succes-stories .overviews button{
    font-size: 14px;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    border:0px;
    margin-bottom: 32px;

}

.succes-stories .overviews img{
    width: 500px;
    max-width: 100%;
}

.stories-carrousel{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  
}

.success-stories .stories-carousel .card{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.success-stories .stories-carousel .card-media{
    position: relative;    
}

.card-img-top{
    max-height: 16vw;
}

.company{
    position: absolute;
    bottom: 300px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company .company-image{
    width: 90%;
    max-width: 16vh;
}

.card-body .card-title {
    color:#025157 ;
    font-size: 18px;
    font-family: 'Slabo 13px', serif;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.card-body .result{
    display: flex;
    align-items: center;
    color: #828282;
}

.card-body .result img{
    width: 26px;
    margin-right: 20px;
}
.card-foot{
    margin: 20px;

}
.card-foot button{
    display: block;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    border: 0px;
}


/*botones*/
.button{
    display: none !important;
}